* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    height: 25%;
    text-align: center;
    padding-bottom: 1.5rem;
}

header h1 {
    padding: 1rem;
    font-size: 2.75rem;
    text-transform: uppercase;
}

header section {
    display: flex;
    justify-content: center;
    align-items: center;
}

header section div {
    padding: 1rem 1rem 1rem 0;
}


main {
    height: 75%;
    width: 75%;
    padding: 5rem;
    border: solid 1px black;
    margin: auto;
}

main section {
    padding-bottom: 2rem;
}

main section h2 {
    padding-bottom: 1rem;
}
main #competencias div {
    padding-right: 20rem;
}
aside {
    padding-bottom: 1rem;
}
