* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid black;
}

header h1 {
    margin-bottom: 1.3rem;
}

header ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul li:nth-child(1) {
    list-style: none;
}

header ul li {
    padding-right: 2rem;
}

header ul li a {
    text-decoration: none;
}


main {
    margin: auto;
    padding: 5rem;
}

h2 {
    margin-top: 1rem;
}

h4 {
    text-transform: uppercase;
}
#experiencia ul li, #formacao ul li, #cursos ul li {
    font-weight: bold;
}
#habilidades ul li span, #experiencia ul li span, #formacao ul li span, #cursos ul li span{
    font-weight: 200;
}

#habilidades ul li .subtitle{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}